# GETTING START WITH PYTHON

#### Variable
- The variable is container who can hold the value and perform operation
+ We cann't start with number, space.
+ we cann't seperate variable name by space,insted of space we can use underscore
+ We cann't use speacial charcter <kbd> #@$%^&* </kbd>

In [14]:
user_name = "Admin"
Password = "Admin#123"
Capcha = 12323
print(user_name,type(user_name),Password,type(Password),Capcha,type(Capcha),sep="\n")

Admin
<class 'str'>
Admin#123
<class 'str'>
12323
<class 'int'>

**We Have two type of varible case writting**

**1. Snake Case Writting**


usERnaME = 'Admin'

**2. Camel Case Writting**

usERNAme = 'Admin'

### Indexing and Slicing..!

-->> D E V E N D R A

-->> 0 1 2 3 4 5 6 7

    [start:end:interval]

In [5]:
user_name = "DEVENDRA"
print(user_name[0],user_name[2:5],user_name[1:4:2],user_name[::-1])

D VEN EE ARDNEVED

In [15]:
user_name = " D E V E  N D R A "
user_name[5]
user_name[::-1]

' A R D N  E V E D '

In [9]:
# We cann't use indexing for int 
# mobile_number = 86888838829
# mobile_number[1]

In [14]:
print('_Devendra_')

_Devendra_

#### Comment


 + Comment is not excutable thing in code which is use for readability of code
 + To comment use shorcut <kbd> ctr + / </kbd> 
 + For single line comment use <kbd> # </kbd>or <kbd> ctr + / </kbd>
 + For multiline comment use <kbd> ''' write comment here  ''' </kbd>
 + Above technique work in code cell 

+ In Markdown cell <kbd> ctrl + / </kbd> or <kbd> <!-- --> </kbd> use for hide the comment

In [1]:
# Hello Guys this is single line comment
"""
  This is multiline comment 
  
"""

'\n  This is multiline comment \n  \n'

#### 1. Print Function

In [1]:
print("Hello, Good Moring", "We good to go",sep="\n",end=" ")
print(2)

Hello, Good Moring
We good to go 2

#### Raw Row

+ If you add <kbd> r </kbd> or set the print output to raw, the escape sequence does not make impacted with the output

In [42]:
# Before to set raw row
print("B\tA")

# After setting the row is raw
print(r"B\bA")

B	A
B\bA

#### Fast String

In [13]:
a = 10
print('The value of a is {a}',f'The value of a is {a}',r'The value of a is {a}',sep="\n")b

The value of a is {a}
The value of a is 10
The value of a is {a}

#### Format

In [92]:
print("{}".format(a))

10

#### 2. Escape Sequence

+ we can't use double quote inside double quote.
+ we can't use single quote inside single quote.

    + Single quote        --> \'
    + Single Double quote --> \"
    + Single backslash    --> \\
    + next line           --> \n
    + tab                 --> \t
    + backspace           --> \b

Now with the help of escape sequence we can write single quote inside single quote and double inside double quote.

In [18]:
print('\'',"\"","\\","\n New Line","\ba",sep="\t",end=" ")

'	"	\
 New Line	a

#### 1. Data Types

+ There are 5 Type of Primitive Data Types in Python

1. String
2. int
3. Float
4. Bool
5. None


use can use above data type as function to convert one data type to another

In [20]:
# Data Types

# integer
a=1
print(a)


# String
a= "Devendra"
print(a)


# Boolean
a = True
print(a)
b = False
print(b)
print(int(b))
print(type(b))

# Float
a = 0.13
print(a)

# None
a = None
a = 5
print(a)
print(type(a))

1
Devendra
True
False
0
<class 'bool'>
0.13
5
<class 'int'>

In [43]:

b = True
b=float(b)
type(b)
print(b)
d=str(b)
print(d,type(d),type(b))

1.0
1.0 <class 'str'> <class 'float'>

In [36]:
a = None
a = str(a)
a

'None'

#### String Operation

string indexing always start with 0
"ACCOONA GLOBAL"
 [01234567891]

**Methods use to perform string operation**
1. find --> Find index of pass argument
2. upper --> convert into upper case
3. lower --> convert into lower case
4. Capitalise --> First chacter of sentence convert to capital
5. title --> convert into proper case
6. count --> give the count of pass argument
7. Index --> give the index number of passing argument
8. format -->
9. formatmap -->
10. replace --> Replace existing text by passing argument
11. split --> spliting the sentence by pass argument & give you list
12. strip --> trim
13. casefold --> convert into lower case
14. center -->
15. Encode -->
16. Decode =->

In [88]:
company_name = "Accoona Global"
print(company_name.find("G"))
print(len(Company_Name))
company_name = company_name.lower()
print(company_name.upper(),company_name.lower(),company_name.capitalize(), company_name.title())

print(company_name.count('c'))
print(company_name.index('a'))
print(company_name.format())

print(company_name.replace('acco','Gcco'))

print(company_name.split(' '))
print(company_name.strip("q"))

print(company_name.center(2))

8
14
ACCOONA GLOBAL accoona global Accoona global Accoona Global
2
0
accoona global
Gccoona global
['accoona', 'global']
accoona global
accoona global

In [89]:
print("  Hello  ".strip(),"ACCOoNA".casefold(),"accoona".casefold(),"Acs Enginnering".casefold())

Hello accoona accoona acs enginnering

In [102]:
# String IS immuatble - We cann't edit string directly
print(Company_Name.replace("Accoona",'accoona'))
print(Company_Name) # This not replace in original string 


# we can do it overwritting on it
Company_Name = Company_Name.replace("Accoona",'accoona')

accoona Global
accoona Global

In [115]:
# Input from the user
a = input("Please enter the two number")
b = input("plese enter anoter number")
print(a,b,a+b,int(a)+int(b))

Please enter the two number2
plese enter anoter number3
2 3 23 5

In [17]:
a,b = input('Please enter the two number:').split(" ")
print(a,b)

Please enter the two number:2 3
2 3

In [19]:
avg = (int(a)+int(b))/2
print(avg)

2.5

In [111]:
## String Concatenation
Company_Name = "Accoona Global"
Location = "Pune"

print(Company_Name+" "+Location)

# We can't concatenate String data type with other data types

Pin_code = 411014

# print(Company_Name+" "+Location+" "+ Pin_code)

print(Company_Name+" "+Location+" "+str(Pin_code))

Accoona Global Pune
Accoona Global Pune 411014

#### Python As a Calculator

Here we cover all arthmatic operation in python

+ Addition             <kbd> + </kbd>
+ Subtraction          <kbd> - </kbd>
+ Multiplication       <kbd> * </kbd>
+ Division             <kbd> / </kbd>
+ Modulus/Remainder    <kbd> % </kbd>
+ Floor Division       <kbd> // </kbd>
+ Power                <kbd> ** </kbd>

In [5]:
a,b = input("Enter any two number : ").split(",")
c = None
a = int(a)
b = int(b)
# Addition
c = a + b
print("Sum of two number : ",c)

# Subtraction
c = a - b
print("Subtraction of two number : ",c)

# Division
c = a/b
print("Division of two number : ",c)

# Multiplication
c = a*b
print("Multiplication of two number : ",c)


# Modulus/Remainder
c = a%b
print("Remainder of a/b  is : ",c)


# Floor division
c = a//b
print("The floor division of a//b is",c)


# Power
c = a**b
print("The a power of b is ",c)

Enter any two number : 5,3
Sum of two number :  8
Subtraction of two number :  2
Division of two number :  1.6666666666666667
Multiplication of two number :  15
Remainder of a/b  is :  2
The floor division of a//b is 1
The a power of b is  125

#### Logical Operation

- Is Equal to              <kbd> '=='   </kbd>
- Is Not Equal to          <kbd> '!='   </kbd>
- Is Greater then          <kbd> '>'  </kbd>
- Is Less then             <kbd> '<'  </kbd>
- Is Greter then equal to  <kbd> '>=' </kbd>    
- IS Less then equal to    <kbd> '<=' </kbd>

In [7]:
a = 3
b = 4

print('Is a equal to b ',a==b)
print('Is a not equal to b ', a!=b)
print('is a greater then b ', a>b)
print('is a less then b ', a<b)
print('is a greater then equal to b ', a>=b)
print('is a less then equal to b ', a<=b)

Is a equal to b  False
Is a not equal to b  True
is a greater then b  False
is a less then b  True
is a greater then equal to b  False
is a less then equal to b  True

#### Precedence in Python 

for same precedence it will work from left to right

+ Parentheses                             <kbd>  ()  </kbd>
+ Exponent                                <kbd>  **  </kbd>
+ Unary plus, Unary minus, Bitwise Not    <kbd> +x, -x, ~x </kbd>
+ Multiplication, Division, Floor division, Modulus             <kdd>  *, /, //, % </kbd>
+ Addition, Subtraction           <kbd> +, - </kbd>
+ Bitwise Shift Operators         <kbd> <<, >> </kbd>
+ Bitwise AND                     <kbd>  &  </kbd>
+ Bitwise XOR                     <kbd>  ^  </kbd>
+ Bitwise OR                      <kbd>  |  </kbd>
+ Comparision, Identity, Membership Operators     <kbd> ==, !=, >, >=, <, <=, is, is not, in, not in
+ Logical NOT                     <kbd> not </kbd>
+ Logical AND                     <kbd> and </kbd>
+ Logical OR                      <kbd> or  </kbd>

In [40]:
a = (2*(4+3)-(3%4)+3)
print(a)

# same precendene

print(2-4+3)

14
1

#### 4. Data Structure

#### 5. Function

def sum(a,b):
    c=a+c
    return c
    
print(sum(2,4))

In [50]:
# with argument with return
def sum(a,b):
    c=a+b
    return c
print(sum(2,4))

d=4
f=3
s=sum(d,f)
print(s)

# With argument without return
def sum(a,b):
    print(a+b)    
sum(2,3)


# without argument without return
def sum():
    a=2
    b=7
    print(a+b)
sum()

# Without argument with return

def sum():
    a=4
    b=1
    return a+b
sum()

6
7
5
9

5

#### 6. Loop & Statement

In [53]:
# IF ELSE IFELSE

if False == True:
    print("we are in If Block with condition is satified")
else:
    print("We are in Else block with condition is not satified")

We are in Else block with condition is not satified

In [56]:
age = int(input("please enter your age : "))
if age >= 18:
    print("congreats, you eligilble for voting")
else:
    print("oh ho!.. you cann't play this game")

please enter your age : 12
oh ho!.. you cann't play this game

In [63]:
#  Odd even program
a = float(input("Please enter the number: "))
if a==0:
    print("please enter valid number")
else:
    if a%2==0:
        print(f"The value of a :{a} is even number")
    else:
        print(f"The value of a :{a} is odd number")

Please enter the number: 2
The value of a :2.0 is even number

In [69]:
# if elsif else
age = int(input("Please enter your age :"))
if age <=5 :
    print('You are under 5 year old')
elif age <18 :
    print('You are under 18 year old')
elif age <=59 :
    print('You are under 59 year old')
else:
    print("You are above 60+ year old ")

Please enter your age :56
You are under 59 year old

In [71]:
# Number Guessing Game
winning_number = 34
a = int(input("Guess the number: "))
if winning_number == a:
    print("congrats..! You won the game ")
elif winning_number > a:
    print("Oh oh .. Guess bigger number")
else:
    print("Oh oh .. Guess smaller number")

Guess the number: 54
Oh oh .. Guess smaller number

In [78]:
# or not and logic 
user = 'admin'
password = 'Admin@123'

User = input('Please enter the user-name: ')
key = input("Please enter the password: ")

if user == User and key == password :
    print('You have log in successfully')
else:
    print('Please enter correct user id or password')
    
    

mobile = "9877232322"
email = 'abc@gmail.com'

if mobile == input("Please enter mobile number") or email == input('Please enter email address'):
    print("You have login in successfully")
else:
    print("Please enter correct email or mobile number")
    

    
if mobile == input("Please enter mobile number ") :
    print("if block")
else:
    print('else block')

Please enter the user-name: e
Please enter the password: ed
Please enter correct user id or password
Please enter mobile numberewsw
Please enter email addresssw
Please enter correct email or mobile number
Please enter mobile number 9877232322
if block

In [85]:
a,b,c = input('Please enter value ').split(',')

Please enter value 2,3,4

In [89]:
# Find gretest number from 3 number

a=23
b=34
c=43

if a > b and a > c :
    print(f"{a} is greater then {b},{c}")
elif b > a and b > c :
    print(f"{b} is greater then {a},{c}")
else:
    print(f'{c} is greater then {a},{b}')

43 is greater then 23,34

#### 7. Class & Objects